.breadcrumbs {
    background-color: black;
    padding: 15px;
}

.breadcrumbs ul {
    margin: 0;
    padding: 0;
}

.breadcrumbs li {
    display: inline-block;
}

.breadcrumbs li ::before {
    content: '>';
    color: white;
    margin: 0 8px;
}

.breadcrumbs li :first-child ::before {
    content: '/';
    color: white;
    margin: 0;
}

.breadcrumbs li>a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid white;
}

.breadcrumbs li :last-child>a {
    color: white;
    text-decoration: none;
    border: none;
}