ol {
    counter-reset: section;
    list-style-type: none;
}

li ::before {
    counter-increment: section;
    content: counters(section, '.') ' ';
}


/*
body {
    counter-reset: headings;
}

h3 ::before{
    counter-increment: headings;
}

h3 ::before {
    content: 'section' counter(headings) ':' ;
}
*/